<div class="container">
  <div *ngFor="let task of tasks" class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-1 col-sm-1">
          <i class="glyphicon glyphicon-edit"></i>
        </div>
        <div class="col-xs-3 col-sm-3">
          {{ task.name }}
        </div>
        <div class="col-xs-3 col-sm-3">
          {{ task.definitionOfDone }}
        </div>
        <div class="col-xs-4 col-sm-4">
            <input type="checkbox"
                   class="list-child"
                   [(ngModel)]= "task.concordancia"
                   (change)="onTaskChanged($event, task)"
                   [checked]="task.concordancia"/>
          {{ getTaskLabel(task) }}
        </div>
      </div>
    </div>
  </div>
</div>