<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    <div class="task-checkbox">
      <input type="checkbox"
             class="list-child"
             (change)="onTaskChanged($event, task)"
             [checked]="task.completed"/>

      <span ngClass="{{ task.completed ? 'name completed' : 'name' }}">
        {{ task.name }}
      </span>

      <span class="label pull-right">
          {{ task.dueDate }} - {{ getDueDateLabel(task) }}
      </span>
  
    </div>
  </li>
</ul>