<div class="row">
  <div class="col-md-6">
    <div class="tasksPanel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Task info</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <app-tasks-add></app-tasks-add>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tasksPanel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Minhas tasks</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <app-tasks-list></app-tasks-list>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>